*{
  box-sizing: border-box;
  font-family: 'Roboto Mono';
  -webkit-font-smoothing: antialiased;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #f1f3f5;
  color: #345;
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 100;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.project-info{
  font-weight: 400;
  font-size: 14px;
}

.project-title{
  float: left;
}

.project-author{
  float: right;
}

.secondary{
  color: #9eaab6;
}

main{
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.flex-row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.flex-col{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.left{
  width: 35%;
}

.right{
  width: calc(65% - 10px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.half{
  width: 50%;
}

.half:first-child{
  float: left;
  border-right: 1px solid #cacaca;
  padding-right: 20px;
}

.half:last-child{
  float: right;
  padding-left: 20px;
}

.panel{
  background-color: white;
  border-top: 8px solid #4b5e7f;
  padding: 20px;
  box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);
  border-radius: 2px;
}

.panel-subtitle{
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#contributions{
  margin-bottom: 10px;
}

.contributor{
  clear: both;
  display: inline-block;
  width: 100%;
  line-height: 14px;
}

.contributor-language{
  float: left;
  font-size: 14px;
  text-transform: uppercase;
}

.contributor-index{
  font-size: 12px;
  color: #909090;
  margin-right: 4px;
}

.contributor-contributions{
  float: right;
  color: #2fc387;
  font-size: 12px;
  font-weight: 700;
}

.centered{
  text-align: center;
  line-height: 80px;
  font-size: 48px;
  font-weight: 100;
}

.contribution{
  border-left: 5px solid #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(102,119,136,0.1), 0 1px 2px rgba(102,119,136,0.3);
  margin-bottom: 8px;
}

.contribution-language{
  font-size: 10px;
  text-transform: uppercase;
  float: left;
  color: #2fc387;
  font-weight: 700;
}

.contribution-user{
  float: right;
  font-size: 12px;
  text-transform: uppercase;
}

.contribution-article-title{
  font-size: 14px;
  clear: both;
  padding-top: 12px;
}

#graph{
  width: calc(75% - 20px);
  position: relative;
}

#graph svg{
  position: absolute;
  bottom: 0;
}

.legend-title{
  position: absolute;
  width: 25%;
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 10px;
  z-index: 50;
}

.legend-container{
  width: 25%;
  overflow-y: scroll;
  padding-top: 25px;
}

#legend{
  height: 0;
  min-height: calc(100% - 20px);
}

#legend ul{
  transform: rotate(180deg);
}

#legend li{
  transform: rotate(-180deg);
  margin-bottom: 8px;
  line-height: 15px;
}

#legend .swatch{
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 6px;
}

#legend .label{
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
}

g path{
  opacity: 0.5;
}
